<video width="100%" controls>
    <source src="/onlyfans/video/uwu.mp4" type="video/mp4" alt="KilobyteKeith saying UwU">
</video>

<video width="100%" controls>
    <source src="/onlyfans/video/KeKano.mp4" type="video/mp4" alt="KilobyteKeith as Kano">
</video>

<video width="100%" controls>
    <source src="/onlyfans/video/succ.mp4" type="video/mp4" alt="KilobyteKeith singing 'succ' Courtesy of NaldoGNS">
</video>
<small>Edit courtesy of <a href="https://www.twitch.tv/residentnaldo">Naldo</a></small>
